p {
  font-family: "Aclonica";
}
.text {
  margin-top: 15px;
  background: none;
  background-color: none;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section button {
  width: 130px;
}
